 {% extends 'layout.html' %}
 {% load static %}
 {% block content %}
 <main>
   <div class="container mt-5">
     <div class="row album py-5 bg-body-tertiary">
       <div class="col-md-6">
         <h1>Bangladesh Open University Location</h1><br>
         <p>Bangladesh Open University (BOU) is the only public university in Bangladesh dedicated to distance learning
           and open education. Established in 1992, BOU provides flexible and affordable education opportunities for
           students across the country. Its main campus is located at Gazipur, easily accessible via the
           Dhaka–Mymensingh Highway. The serene green campus includes administrative buildings, academic centers, and
           research facilities. Through modern technologies and online resources, BOU enables millions of learners to
           continue their studies from any region.
           You can view its exact location on Google Maps for directions to the main campus.</p>
       </div>
       <div class="col-md-6 border-radius:15px; overflow:hidden;">
         <iframe class="maps_view"
           src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3757.4467654439823!2d90.37691161079928!3d23.951074186805524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c4ab61f71005%3A0x4aa83f7d59c813de!2sBangladesh%20Open%20University!5e0!3m2!1sen!2sbd!4v1762101599973!5m2!1sen!2sbd"
           width="600" height="450" style="border:0;"  allowfullscreen="" loading="lazy"
           referrerpolicy="no-referrer-when-downgrade"></iframe>

       </div>
     </div>

     <div class="row mt-5">
       <h1>Bangladesh Open University Call Center</h1><br>
       <p>The Bangladesh Open University (BOU) Call Center provides dedicated support to students, teachers, and the
         general public across the country. It serves as a central point for inquiries related to admissions, course
         registration, results, examinations, and online learning platforms. The call center ensures quick, reliable,
         and friendly assistance, helping distance learners access information without visiting the campus. Operated by
         trained staff, it uses modern communication systems to handle a large volume of calls efficiently. Through this
         service, BOU strengthens its commitment to accessible education and student support, making higher education
         more flexible, interactive, and convenient for learners nationwide</p>
     </div>
   </div>
 </main>
 <div class="container-fluid bg-dark text-white mt-5 p-4">

   <div class="row">

     <div class="col-md-4 col-sm-12">
       <div class="title">
         <h3>Bangladesh Open University</h3>
       </div>
       <div class="des2">
         <h3>HALL Register INFO</h3>
       </div>
       <div class="des3">
         <h5>Phone : +8801XXXXXXXXX</h5>
         <h5>Email : bouhall@gmail.com</h5>
         <h5>Open : 9:00 AM - 9:00 PM (Sat - Thu)</h5>

       </div>
     </div>

     <div class="col-md-4 col-sm-12">
       <div class="title">
         <h3>Bangladesh Open University</h3>
       </div>
       <div class="des2">
         <h3>HALL DINING INFO</h3>
       </div>
       <div class="des3">
         <h5>Phone : +8801XXXXXXXXX</h5>
         <h5>Email : boudining@gmail.com</h5>
         <h5>Open : 9:00 AM - 9:00 PM (Sat - Sun)</h5>

       </div>
     </div>

     <div class="col-md-4 col-sm-12">
       <div class="title">
         <h3>Bangladesh Open University</h3>
       </div>
       <div class="des2">
         <h3>ANY PROBLEM</h3>
       </div>
       <div class="des3">
         <h5>Phone : +8801XXXXXXXXX</h5>
         <h5>Email : bouanyproblem@gmail.com</h5>
         <h5>Open : 9:00 AM - 9:00 PM (Sat - Sun)</h5>

       </div>
     </div>



   </div>
 </div>


 {% endblock %}