 {% extends 'layout.html' %}
  {% load static %}
  {% block content %}
     
  <div class="homepage pt-5">
    <div class="container ">
        <!-- list item -->
        <div class=" row list">
            <div class="item">
                    {% load static %}
                <!-- <img src="{% static 'images/bg.jpg' %}"> -->
                <div class="content">
                    <div class="author">OPEN UNIVERSITY</div>
                    <div class="title">ABU SAID HALL</div>
                    <div class="topic">DETAILS</div>
                    <div class="des">
                        <!-- Description Around 70 Words -->
                       Abu Said Hall is a modern, well-managed student residence that ensures a comfortable and peaceful living environment. It provides clean and well-furnished rooms, hygienic and nutritious dining facilities, and all essential amenities for students. The hall focuses on maintaining discipline, safety, and a friendly atmosphere where students can study and grow effectively. It serves as a perfect balance between academic life and healthy daily living.
                    </div>


                    <section class="container  mt-5">
                        <div class="booking-bar">
                            <form class="row g-3 align-items-end">
                                <div class="col-md-3">
                                    <label class="form-label fw-bold">Check-in</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col-md-3 ">
                                    <label class="form-label fw-bold">Check-out</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label fw-bold">Guests</label>
                                    <select class="form-select">
                                        <option>1 Guest</option><option>2 Guests</option><option>Group (4+)</option>
                                    </select>
                                </div>
                                <div class="col-md-3">  
                                    
                                  <button type=" submit" class=" btn btn-primary"> Check Availability</button>
                                 </div>
                            </form>
                        </div>
                    </section>
                  
                </div>
            </div>
            
        </div>
    </div>

  </div>  <!-- Wrap -->





   {% endblock %}