 {% extends 'layout.html' %}
 {% load static %}
 {% block content %}
 <div class="album py-5">
   <div class="container">
     <div class="text-center mb-4">
       <h1 class="fw-bold">Rooms We Have</h1>
       <p class="text-muted mb-0">Compare options across Breakfast, Lunch, and Dinner</p>
     </div>


     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for room in rooms %}
          <div>
              <h3>{{ room.name }}</h3>
              <p>Price: ${{ room.price }}</p>
              {% if room.image %}
                  <img src="{{ room.image.url }}" alt="{{ room.name }}" width="100">
              {% else %}
                  <p>No image available</p>
              {% endif %}
          </div>
      {% endfor %}


       <div class="col">
         <div class="card shadow-sm">
           <img src="{% static 'images/room1.jpg' %}" alt="Room Image" class="bd-placeholder-img card-img-top"
             height="225" width="100%" />
           <div class="card-body">
             <p class="card-text">
               This is a wider card with supporting text below as a natural
               lead-in to additional content. This content is a little bit
               longer.
             </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                   data-bs-target="#staticBackdrop">
                   View
                 </button>

                 <!-- Modal -->
                 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="staticBackdropLabel">Room Details </h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                         <div class="modal-body">
                           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <img src="{% static 'images/room3.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room1.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room2.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                             </div>
                             <button class="carousel-control-prev" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Previous</span>
                             </button>
                             <button class="carousel-control-next" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="next">
                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Next</span>
                             </button>
                           </div>
                           <div class="modal-info">
                             <h3>Suite – 45 m²</h3>
                             <p>This suite includes 1 queen-sized bed, a private kitchen, bathroom, and a spacious
                               living area.</p>

                             <ul>
                               <li>Free WiFi</li>
                               <li>Sea View</li>
                               <li>24/7 Service</li>
                               <li>Breakfast Included</li>
                             </ul>
                             <h4>Price: Tk. 2500 BDT per night</h4>
                           </div>
                         </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                       </div>
                     </div>
                   </div>
                 </div>
                 <button type="button" class="btn btn-sm btn-outline-primary">
                   Buy
                 </button>
               </div>
               <small class="text-body-secondary">Tk. 1500 BDT</small>
             </div>
           </div>
         </div>
       </div>
      <div class="col">
         <div class="card shadow-sm">
           <img src="{% static 'images/room1.jpg' %}" alt="Room Image" class="bd-placeholder-img card-img-top"
             height="225" width="100%" />
           <div class="card-body">
             <p class="card-text">
               This is a wider card with supporting text below as a natural
               lead-in to additional content. This content is a little bit
               longer.
             </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                   data-bs-target="#staticBackdrop">
                   View
                 </button>

                 <!-- Modal -->
                 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="staticBackdropLabel">Room Details </h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                         <div class="modal-body">
                           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <img src="{% static 'images/room3.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room1.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room2.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                             </div>
                             <button class="carousel-control-prev" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Previous</span>
                             </button>
                             <button class="carousel-control-next" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="next">
                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Next</span>
                             </button>
                           </div>
                           <div class="modal-info">
                             <h3>Suite – 45 m²</h3>
                             <p>This suite includes 1 queen-sized bed, a private kitchen, bathroom, and a spacious
                               living area.</p>

                             <ul>
                               <li>Free WiFi</li>
                               <li>Sea View</li>
                               <li>24/7 Service</li>
                               <li>Breakfast Included</li>
                             </ul>
                             <h4>Price: Tk. 2500 BDT per night</h4>
                           </div>
                         </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                       </div>
                     </div>
                   </div>
                 </div>
                 <button type="button" class="btn btn-sm btn-outline-primary">
                   Buy
                 </button>
               </div>
               <small class="text-body-secondary">Tk. 1500 BDT</small>
             </div>
           </div>
         </div>
       </div>
        <div class="col">
         <div class="card shadow-sm">
           <img src="{% static 'images/room1.jpg' %}" alt="Room Image" class="bd-placeholder-img card-img-top"
             height="225" width="100%" />
           <div class="card-body">
             <p class="card-text">
               This is a wider card with supporting text below as a natural
               lead-in to additional content. This content is a little bit
               longer.
             </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                   data-bs-target="#staticBackdrop">
                   View
                 </button>

                 <!-- Modal -->
                 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="staticBackdropLabel">Room Details </h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                         <div class="modal-body">
                           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <img src="{% static 'images/room3.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room1.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room2.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                             </div>
                             <button class="carousel-control-prev" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Previous</span>
                             </button>
                             <button class="carousel-control-next" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="next">
                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Next</span>
                             </button>
                           </div>
                           <div class="modal-info">
                             <h3>Suite – 45 m²</h3>
                             <p>This suite includes 1 queen-sized bed, a private kitchen, bathroom, and a spacious
                               living area.</p>

                             <ul>
                               <li>Free WiFi</li>
                               <li>Sea View</li>
                               <li>24/7 Service</li>
                               <li>Breakfast Included</li>
                             </ul>
                             <h4>Price: Tk. 2500 BDT per night</h4>
                           </div>
                         </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                       </div>
                     </div>
                   </div>
                 </div>
                 <button type="button" class="btn btn-sm btn-outline-primary">
                   Buy
                 </button>
               </div>
               <small class="text-body-secondary">Tk. 1500 BDT</small>
             </div>
           </div>
         </div>
       </div>
        <div class="col">
         <div class="card shadow-sm">
           <img src="{% static 'images/room1.jpg' %}" alt="Room Image" class="bd-placeholder-img card-img-top"
             height="225" width="100%" />
           <div class="card-body">
             <p class="card-text">
               This is a wider card with supporting text below as a natural
               lead-in to additional content. This content is a little bit
               longer.
             </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                   data-bs-target="#staticBackdrop">
                   View
                 </button>

                 <!-- Modal -->
                 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="staticBackdropLabel">Room Details </h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                         <div class="modal-body">
                           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <img src="{% static 'images/room3.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room1.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room2.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                             </div>
                             <button class="carousel-control-prev" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Previous</span>
                             </button>
                             <button class="carousel-control-next" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="next">
                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Next</span>
                             </button>
                           </div>
                           <div class="modal-info">
                             <h3>Suite – 45 m²</h3>
                             <p>This suite includes 1 queen-sized bed, a private kitchen, bathroom, and a spacious
                               living area.</p>

                             <ul>
                               <li>Free WiFi</li>
                               <li>Sea View</li>
                               <li>24/7 Service</li>
                               <li>Breakfast Included</li>
                             </ul>
                             <h4>Price: Tk. 2500 BDT per night</h4>
                           </div>
                         </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                       </div>
                     </div>
                   </div>
                 </div>
                 <button type="button" class="btn btn-sm btn-outline-primary">
                   Buy
                 </button>
               </div>
               <small class="text-body-secondary">Tk. 1500 BDT</small>
             </div>
           </div>
         </div>
       </div>
        <div class="col">
         <div class="card shadow-sm">
           <img src="{% static 'images/room1.jpg' %}" alt="Room Image" class="bd-placeholder-img card-img-top"
             height="225" width="100%" />
           <div class="card-body">
             <p class="card-text">
               This is a wider card with supporting text below as a natural
               lead-in to additional content. This content is a little bit
               longer.
             </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                   data-bs-target="#staticBackdrop">
                   View
                 </button>

                 <!-- Modal -->
                 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="staticBackdropLabel">Room Details </h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                         <div class="modal-body">
                           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <img src="{% static 'images/room3.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room1.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room2.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                             </div>
                             <button class="carousel-control-prev" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Previous</span>
                             </button>
                             <button class="carousel-control-next" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="next">
                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Next</span>
                             </button>
                           </div>
                           <div class="modal-info">
                             <h3>Suite – 45 m²</h3>
                             <p>This suite includes 1 queen-sized bed, a private kitchen, bathroom, and a spacious
                               living area.</p>

                             <ul>
                               <li>Free WiFi</li>
                               <li>Sea View</li>
                               <li>24/7 Service</li>
                               <li>Breakfast Included</li>
                             </ul>
                             <h4>Price: Tk. 2500 BDT per night</h4>
                           </div>
                         </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                       </div>
                     </div>
                   </div>
                 </div>
                 <button type="button" class="btn btn-sm btn-outline-primary">
                   Buy
                 </button>
               </div>
               <small class="text-body-secondary">Tk. 1500 BDT</small>
             </div>
           </div>
         </div>
       </div>
        <div class="col">
         <div class="card shadow-sm">
           <img src="{% static 'images/room1.jpg' %}" alt="Room Image" class="bd-placeholder-img card-img-top"
             height="225" width="100%" />
           <div class="card-body">
             <p class="card-text">
               This is a wider card with supporting text below as a natural
               lead-in to additional content. This content is a little bit
               longer.
             </p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                   data-bs-target="#staticBackdrop">
                   View
                 </button>

                 <!-- Modal -->
                 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="staticBackdropLabel">Room Details </h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                         <div class="modal-body">
                           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <img src="{% static 'images/room3.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room1.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                               <div class="carousel-item">
                                 <img src="{% static 'images/room2.jpg' %}" class="d-block w-100" alt="...">
                               </div>
                             </div>
                             <button class="carousel-control-prev" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Previous</span>
                             </button>
                             <button class="carousel-control-next" type="button"
                               data-bs-target="#carouselExampleControls" data-bs-slide="next">
                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                               <span class="visually-hidden">Next</span>
                             </button>
                           </div>
                           <div class="modal-info">
                             <h3>Suite – 45 m²</h3>
                             <p>This suite includes 1 queen-sized bed, a private kitchen, bathroom, and a spacious
                               living area.</p>

                             <ul>
                               <li>Free WiFi</li>
                               <li>Sea View</li>
                               <li>24/7 Service</li>
                               <li>Breakfast Included</li>
                             </ul>
                             <h4>Price: Tk. 2500 BDT per night</h4>
                           </div>
                         </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                       </div>
                     </div>
                   </div>
                 </div>
                 <button type="button" class="btn btn-sm btn-outline-primary">
                   Buy
                 </button>
               </div>
               <small class="text-body-secondary">Tk. 1500 BDT</small>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 </main>
 {% endblock %}